body {
	margin: 0;
	padding-right: 0;

}

ul {
	padding: 5px 0px 5px 0px;


}

h1 {
	font-size: 5em;
	margin: 0;
	padding: 25px; 


}

nav {
	background-color: grey;
	padding: 5px ;
	text-align: center;
}

li {
	background-color:darkgrey ;
	display:inline-block;
	margin:5px ;
	padding:2px ;

}

a {
	background-color:yellow;
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
	
}

section {
	background-color: silver;
	text-align: center;
}

.box{
	display:inline-block;
	width: 100%;

}

img div {
	width: 100%;
}


p div{

	background-color: lightblue;
	border:0px;
	padding:5px;

}

p::first-letter {
	color: red;
	font-size:40px;
}

footer {
	background-color:black;
	padding:5px;
	text-align: center;
	text-decoration-color: white;
}

footer li {
	background-color: lightblue;
	display: inline-block;
	margin:1px;
	padding:2px;
}
footer a {

}

a.box p {
	font-size: 15px;
}

